name: Jabar Super Apps Web Production

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

        # Configure Docker with Credentials
      - name: Configure Docker
        run: |
          docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} -p '${{ secrets.REGISTRY_PASSWORD }}'
        # Set version tag using SHA Hash (short)
      - name: Set version tag
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

        # Build the Docker image
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.SERVICE_IMAGENAME }}:${{ steps.vars.outputs.sha_short }}
          build-args: |
            API_KEY=${{ secrets.API_KEY_PRODUCTION }}
            SENTRY_DSN=${{ secrets.SENTRY_DSN }}
            SENTRY_ENABLED=${{ secrets.SENTRY_ENABLED }}
            SENTRY_SAMPLE_RATE=${{ secrets.SENTRY_SAMPLE_RATE }}
            GOOGLE_ANALYTICS_ID=${{secrets.GOOGLE_ANALYTICS_ID_PRODUCTION}}
            NEW_RELIC_APP_NAME=${{secrets.NEW_RELIC_APP_NAME_PRODUCTION}}
            NEW_RELIC_LICENSE_KEY=${{secrets.NEW_RELIC_LICENSE_KEY}}
            NEW_RELIC_ACCOUNT_ID=${{secrets.NEW_RELIC_ACCOUNT_ID}}
            NEW_RELIC_BROWSER_LICENSE_KEY=${{secrets.NEW_RELIC_BROWSER_LICENSE_KEY}}
            NEW_RELIC_APPLICATION_ID=${{secrets.NEW_RELIC_APPLICATION_ID_PRODUCTION}}
            BASE_URL_ADUAN=${{secrets.BASE_URL_ADUAN}}
            USERNAME_URL_ADUAN=${{secrets.USERNAME_URL_ADUAN}}
            PASSWORD_URL_ADUAN=${{secrets.PASSWORD_URL_ADUAN}}
            LINK_SAPAWARGA_ANDROID=${{secrets.LINK_SAPAWARGA_ANDROID}}
            LINK_SAPAWARGA_IOS=${{secrets.LINK_SAPAWARGA_IOS}}
      # GitOps
      - name: GitOps ArgoCD Setup
        run: |
          echo "${{ secrets.GITLAB_ARGOCD_KEY }}" > /tmp/gitlab-deploy-ssh-key
          chmod 600 /tmp/gitlab-deploy-ssh-key
          export GIT_SSH_COMMAND="ssh -i /tmp/gitlab-deploy-ssh-key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
          git clone ${{ secrets.GITLAB_ARGOCD_REPOSITORY }}
      - name: GitOps ArgoCD Update Image Tag
        uses: mikefarah/yq@master
        with:
          cmd: yq -i '.spec.template.spec.containers[0].image = "${{ secrets.SERVICE_IMAGENAME }}:${{ steps.vars.outputs.sha_short }}"' 'jds-terraform-gke/k8s/superapp/production/web/deployment.yaml'

      - name: GitOps ArgoCD Create Branch, Commit, Push
        run: |
          export GIT_SSH_COMMAND="ssh -i /tmp/gitlab-deploy-ssh-key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
          cd jds-terraform-gke/k8s/superapp/production/web
          git config user.email "github-action@github.com"
          git config user.name "Github Action"
          git checkout -b superapp-web-production-${{ steps.vars.outputs.sha_short }}
          git add deployment.yaml
          git commit -m "chore: update superapp web images ${{ steps.vars.outputs.sha_short }} to production"
          git push origin superapp-web-production-${{ steps.vars.outputs.sha_short }} -o merge_request.description="# Overview \n\n - Update superapp image ${{ steps.vars.outputs.sha_short }} to production \n\n ## Evidence \n\n - title: Update superapp image ${{ steps.vars.outputs.sha_short }} to production \n - project: Jabar Super Apps \n - participants: \n - screenshot: " -o merge_request.create
